<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app>
    <head>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Stock{% endblock %}</title>


        <link media="screen" rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css">
        {% block extracss %}{% endblock %}
    </head>
    <body>
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}

        <script src="http://libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% block extrajs %}{% endblock %}
    </body>
</html>
